@{
    var action = ViewContext.RouteData.GetRequiredString("action").ToLower();
}

<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="@(action == "index"? "active" : null)">
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-navicon"></i>Dashboard</a>
        </li>
        <li class="@(action.Contains("appointment") ? "active" : null)">
            <a href="@Url.Action("Appointments", "Home")">
                <i class="fa fa-fw fa-user-md"></i>Appointments
            </a>
        </li>
        <li class="@(action.Contains("crm") ? "active" : null)">
            <a href="@Url.Action("Crm", "Home")">
                <i class="fa fa-fw fa-comments"></i>Diagnosis
            </a>
        </li>
        <li class="@(action.Contains("medication") ? "active" : null)">
            <a href="@Url.Action("Medications", "Home")">
                <i class="fa fa-fw fa-medkit"></i>Medications
            </a>
        </li>
        <li class="@(action.Contains("allergies") ? "active" : null)">
            <a href="@Url.Action("Allergies", "Home")">
                <i class="fa fa-fw fa-comments"></i>Allergies
            </a>
        </li>
        <li class="@(action.Contains("labs") ? "active" : null)">
            <a href="@Url.Action("Labs", "Home")">
                <i class="fa fa-fw fa-flask"></i>Labs and Radiology
            </a>
        </li>
        <li class="@(action.Contains("vital") ? "active" : null)">
            <a href="@Url.Action("Vital", "Home")">
                <i class="fa fa-fw fa-heartbeat"></i>Vital Signs
            </a>
        </li>
        <li class="@(action.Contains("history") ? "active" : null)">
            <a href="@Url.Action("History", "Home")">
                <i class="fa fa-fw fa-history"></i>Family History
            </a>
        </li>
        <li class="@(action.Contains("immune") ? "active" : null)">
            <a href="@Url.Action("Immunizations", "Home")">
                <i class="fa fa-fw fa-ambulance"></i>Immunizations
            </a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-wrench"></i>Admin Tools <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Support Tickets</a>
                </li>
                <li>
                    <a href="#">Suggestions</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#samples"><i class="fa fa-fw fa-file-text"></i>Samples <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="samples" class="collapse">
                <li>
                    <a href="~/Sample/index.html">Index</a>
                </li>
                <li>
                    <a href="~/Sample/tables.html">Charts</a>
                </li>
                <li>
                    <a href="~/Sample/tables.html">Tables</a>
                </li>
                <li>
                    <a href="~/Sample/tables.html">Forms</a>
                </li>
                <li>
                    <a href="~/Sample/tables.html">Elements</a>
                </li>
                <li>
                    <a href="~/Sample/tables.html">Grids</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
